
        body { background-color: #FAF6F0; } /* Warm Alabaster Brand Background */
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .active-nav-pill {
            background-color: rgba(200, 75, 22, 0.1);
            color: #C84B16;
        }
    
